$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'vars.scss';

@import 'masterhead.scss';
@import 'section.scss';
@import 'navbar.scss';

/* Common */
body{
  font-family: $font-family;
  font-size: $font-size-base;
  color: $black;
  font-weight: 400;
}

.full-page{
  position: relative;
}

/* Text */
h1, h2, h3, h4{
  margin-top: 0px;
  margin-bottom: 10px;
}
