/* fonts */
$font-family: 'Montserrat', sans-serif;
/* $font-family: 'Playfair Display', serif; */
$font-size-base: 12px;
$font-size-gigantic: 100px;

/* color palette */
$black: #3c3c3c;
$red: rgb(213,0,50);